.login_section_content {
    padding: 2%;
    background-color: rgb(74, 184, 183);
    display: flex;
    justify-content: center;
  }
  
  .login_section {
    display: flex;
    background-color: rgb(223, 234, 222);
    justify-content: center;
    padding: 4%;
    width: 70%;
    border-radius: 5px;
    /* background: url(./Images/sebastian-svenson-LpbyDENbQQg-unsplash.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  .login_section .left_section {
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding: 8%;
    border-radius:40px 0px  0px  0px;
  }
 
  .Sign_up_btn {
    display: flex;
    justify-content: center;
    width: 40%;
    width: 100%;
  }
  .Sign_up_btn .btn {
    width: 40%;
    margin-top: 1%;
  }
  .login_btn {
    margin-top: 8%;
  }
  .right_section .login_page_image {
    padding: 8%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right_section .login_page_image p {
    text-align: center;
  }
  .right_section .login_page_image h1 {
    font-weight: bold;
    font-family: serif;
    font-size: 2.5rem;
  }
  .right_section {
   
    width: 50%;
    min-height: 70vh;
  
    background-color: rgb(248, 230, 212);
    border-radius:  0px  0px 40px 0px ;
  }

  