.log_out_delete_section{
    display: flex;
    justify-content: center;
    /* background-color: rgb(184, 107, 107); */
}
.log_out_delete_heading{
    text-align: center;
}
.log_out_delete_btn{
    text-align: center;
    margin-top: 5%;
}
.log_out_delete_btn .delete{
    background-color: rgb(57, 139, 143);
    font-weight: bold;
    /* font-size: 1rem; */
    /* padding: 5%; */
    margin-left: 5%;
    color: white;
    width: 40%;
    border-radius: 6px;

}
.log_out_delete_btn .delete:hover{
    background-color: rgb(251, 7, 7);
  

}
.log_out_delete_btn .logout{
    background-color: rgb(57, 139, 143);
    font-weight: bold;
    border-radius: 6px;

    /* font-size: 1rem; */
    /* padding: 5%; */
    /* margin-left: 5%; */
    color: white;
    width: 40%;
}