.header__text{
  text-align: center;
  line-height: 1.5;
  margin: 1rem 0;
}

.separator{
  width: 95%;
  height: 2px;
  margin: 0 auto;
  background: blueviolet;
}


.all__blogs {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.blogs {
  width: 45%;
  height: 500px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 15px 20px;
  box-shadow: 10px 10px 20px silver;
  border: 1px solid bisque;
}

.blog .blog__img, .blog__content{
  height: 100%;
}

.blogs .blog__img img{
  width: 100%;
  height: 200px;
	object-fit: cover;
}

.blog__title {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 700;
}

.blog__desc {
  margin: 10px 0;
  height: 85px;
  overflow: hidden;
}

.blog__author{
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: purple;
}

.more__info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.blog__country,
.blog__published {
  display: inline-block;
  color: rgb(122, 122, 122);
}

.blog__country{
  text-transform: capitalize;
  margin-right: 30px;
}
