.Contact_Form{
    width: 550px;
    margin: 10px;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid black;
  }
  .Contact_Form_Lable{
    font-weight: bolder;
    margin-left: 16px;
  
  }
  .Sent_A_Massege{
    margin-left: 16px;
  }
  .Contact_Input_Box {
    height: 50px;
    width: 500px;
    margin: 5px;
    border-radius: 5px;
    text-align: start;
    margin-left: 16px;
   
  }
  
  
  .Contact_Input_Massage_Box{
    height: 200px;
    width: 500px; 
    border-radius: 5px;
    margin-left: 16px;
  }
  
  .Contact_Form_Send_Btn{
    width: 70px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 15px;
    background-color: blue;
    color: white;
  }