.dashboard-layout{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dashboard-layout .header{
  width: 100%;
  background-color: #eefde0;
}

.sidebar-menu{
  width: 260px;
  height: 100%;
  position: fixed;
}

.content{
  margin-left: 260px;
  max-width: calc(100% - 260px);
  height: 100%;
  z-index: 100;
  overflow-y: auto;
}

@media screen and (max-width : 1300px) {
  .sidebar-menu{
    display: none;
  }

  .content{
    margin-left: 0;
    max-width: 100%;
    border: 2px solid red;
  }
}


